spring:
  application:
    name: medilab-pro-notification-service

  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}

  mail:
    host: ${MAIL_HOST:localhost}
    port: ${MAIL_PORT:1025} # Default for many test mail servers like MailHog/Mailpit
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: ${MAIL_SMTP_AUTH:true}
          starttls:
            enable: ${MAIL_SMTP_STARTTLS:true}

server:
  port: 8081

logging:
  level:
    root: INFO
    com.medilab.notification: DEBUG
